<h1>Welcome to ValetBike</h1>
<% if Current.user %>
   Logged in as: <%= Current.user.email %><br>

   <%= render "map/map", markers: @markers %>


   <% else %>
   <%= link_to 'Sign Up', sign_up_path %>
   or
   <%= link_to 'Login', sign_in_path %>
<% end %>
