<h1 style="text-align:center">Current Ride</h1>
<h2 style="text-align:center">Click Start to begin your ride. </h1>

<a href="start"><button class="button button1">Start</button></a>
<button class="button button2">End</button>
