<center><h1>Riding Time</h1>
<p>bike: <%= @bikeid %></p>
<div id="timer" style = "font-size: 10rem;"></div>



<button><div id ="stop_timer" onclick="clearInterval(timerVar)">Stop Ride</div></button><br>
<br style = “line-height:100px;”>
 <%= button_to 'Home Page', "/root" %></center>
