

<script src="start.js"></script>
<center><h1>Riding Time</h1>
<div id="timer"></div>

<button><div id ="stop_timer" onclick="clearInterval(timerVar)">Stop Ride</div></button><br>
 <%= button_to 'Home Page', "root" %></center>
